body {
    height: 90vh;
    width: 90vw;
    box-sizing: border-box;
    background-color: rgb(36, 11, 32);
    overflow: hidden;
}


.latex-row {
    color: white;
    padding-left: 5px;
    width: 100%;
    box-sizing: border-box;
    min-height: 2em;
    height: fit-content;
    border-top: 1px solid rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap-reverse;
}

.katex-display .katex {
    text-align: left !important;
}

.latex-row:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

div[response] {
    padding-left: 32px;
    border-top: 2px solid white;
}


#console-container {
    height: fit-content;
    margin-top: 130%;
    width:100%;
}

#container {
    width:109%;
    height:100%;
    overflow-y: scroll;
}

input {
    margin: auto;
    width: 90%;
    box-sizing: border-box;
    font-size: 16px;
    resize: none;
}

#math-input {
    position: absolute;
    bottom: 2px;
    height: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0;
    background-color: #f8f8f8;
    margin-bottom: 8px;
}

#math-input:focus {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0;
    background-color: #f8f8f8;
}

.note {
    background-color: #ffffff00;
    border: none;
    min-width: 3em;
    color:rgba(255, 255, 255, 0.5);
    margin: 0px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 10px;
}

.latex-row:hover > .note{
    background-color: #ffffff50;
}

.note:focus {
    background-color: #ffffff50;
    color:rgb(255, 255, 255);
}


:focus {
    outline: none;
}

#refresh {
    background-color: rgba(0, 0, 0, 0.7);
}
