body {
    font-size: 20px;
    background-color: rgb(255, 255, 255);
}

#container {
    height: 100%;
}

.latex-row {
    color: rgb(0, 0, 0);
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 1em;
    border-top: 0px solid rgb(0, 0, 0);
}

div[response] {
    padding-left: 32px;
    border-top: 1px solid rgb(0, 0, 0);
    margin-bottom: 16px;
}

/*
div[response] .mathcont::before {
    content: "=";
    position: relative;
    right: 23px;
    top: 100%;
}
*/

.note {
    background-color: #ffffff00;
    border: none;
    color:rgba(0, 0, 0);
    margin: 0px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 10px;
}

.latex-row:hover {
    background-color: rgba(0, 0, 0, 0);
}

.latex-row:hover > .note{
    background-color: #ffffff00;
}

.note:focus {
    background-color: #ffffff50;
    color:rgb(255, 255, 255);
}

#refresh {
    background-color: rgba(0, 0, 0, 0);
}
